include includes/header
body(class=`${pageType}-page`)
    div(class="container")
        include forms/send-all
        include forms/add-mem
        include forms/add-audio
        include mixins/scripts
        +scripts("main")