form(class="base-form", action="/bot/add-mem/", data-form-type="add-mem")
    div(class="form-name") Добавить мем
    label
        input(name="memFile", type="file", multiple=true)
        span(class="input-name") Картинка
    div(class="submit-wrap")
        button Добавить