form(class="base-form", action="/bot/add-audio/", data-form-type="add-audio")
    div(class="form-name") Добавить аудио
    label
        input(name="audio", type="text")
        span(class="input-name") Код аудио
    div(class="submit-wrap")
        button Добавить